<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <hooks>
          <hook type="Sitecore.Support.Hooks.UpdateUploadMediaDialog,Sitecore.Support.95516" />
          <hook type="Sitecore.Support.Hooks.UpdateSelectMediaDialog,Sitecore.Support.95516" />
      </hooks>
      <settings>
          <setting name="UploadMediaDialog.DefaultLocation" value="/sitecore/media library/Default Website" />
      </settings>
  </sitecore>
</configuration>