<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Support.Hooks.UpdateUploadMediaDialog,Sitecore.Support.95516" />
      <hook type="Sitecore.Support.Hooks.UpdateSelectMediaDialog,Sitecore.Support.95516" />
    </hooks>
  </sitecore>
</configuration>